<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title>Success Page</title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.css' %}" />

    <style>
	.content {
	    position: fixed;
        top: 50%;
        left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}
	.success { color:green; }
    </style>
</head>
<body>
    <div class="container">
				
		<div class="content">
			<p>Your contact has been sent <span class="success">successfully</span>.</p>
			<p>We'll be responding to you as quick as possible.</p>
			<p><span class="thanks">Thanks very much for contacting us!</span></p>
			<a role="button" href="/"><button class="btn btn-outline-info">Back to Home</button></a>
		</div>
		
	</div>
</body>
</html>