:root {
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


body, * {
    margin:0;
    padding:0;
    width: auto;
}

.up {
    position: relative;
    width: auto;
    height: 50%;
    min-height: auto;
    color: #fff;
    background-image: url("../img/coding.jpg");
}

.layer {
    background: rgba(0,0,0,0.7);
    width: auto;
    height: 100%;
}

.content {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 4em 1em;
}

.content p {
    margin: auto 1em;
    width:50%;
    height: auto
} .content p:first-of-type {
    font-size: 2em;
    margin-bottom: 0
} .content p:last-of-type {
    font-size: 1em;
    font-style: italic;
    margin-top: 0
}

.content p a {
    text-decoration: none;
    color: tomato;
}

.content p span {
    color: tomato
}

form {
    display: block;
    position: relative;
    padding: .5em;
    height: 100%;
}

form p {
    color:grey;
    text-transform: uppercase
}

.form-row {
    display: flex;
    justify-content: space-around;
    padding: .25em 2em;
}

input, textarea {
    width: 400px;
    max-width: auto;
    padding: .25em 1em;
    text-align: center;
    font-size: .8em;
    border: none;
    background-color: #d0d0d1;
    transition: all 0.50s ease-in-out; 
}

input[type=text]:focus, textarea:focus {
    box-shadow: 0 0 6px #adb5bd;
}

input {
    margin-bottom: 0; 
}

input[name=email] {
    text-transform: lowercase;
}

textarea {
    max-width: 400px;
    min-width: 212px;
    min-height: 55px;
    max-height: 150px;
    font-family: inherit;
}

#send-contact {
    border-style: none;
    width: 100%;
    flex-basis: 442px;
    padding: .25em;
    border: 1px solid #adb5bd;
    transition: all 0.35s ease-in-out;
    font-weight: 400;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: .8em;
    color: #2f3031;
    cursor: pointer;
}

#send-contact:hover {
    background-color: #2f3031;
    color: #adb5bd;
}


@media screen and (max-width: 1200px) {
    .content p:first-of-type {
        font-size: 1.5em;
    } .content p:last-of-type {
        font-size: .75em;
    }
}

@media screen and (max-width: 720px) {
    .content p:first-of-type {
        font-size: 1.0em;
        margin-bottom:0.5em
    } .content p:last-of-type {
        font-size: .75em;
        align-self: flex-end;
        margin-top:0.5em;
    }
    .content { 
        align-items: flex-start;
    }
}