{% extends 'blog/base.html' %}

{% load staticfiles %}
{% load cache %}

{% load filter %}


{% block content %}
<div class="col-md-12">
{% if object_list %}
		
		{% for post in page_obj %}
		<div class="post-block">
			<div class="img-container">
			{% if post.thumbnail %}
				<img class="resize-img" src="{{ post.thumbnail.url }}" alt="Post Header">
			{% else %}
				<img class="resize-img" src="{% static 'img/blog/pthumbnail/default.png' %}" alt="Post Header">
			{% endif %}
			</div>
			
			<div class="post-info">
			
				<h3>
					<a href="{{ post.get_absolute_url }}">
						<span class="post-title">{{ post.title }}</span>
					</a>
				</h3>

				<p class="fw600">{{ post.subtitle }}</p>
			
				<ul class="post-insight-list">
					<li class="post-insight"><span class="fw700">Author:</span><span> {{ post.publisher.get_full_name }}</span></li>
					<li class="post-insight"><span class="fw700">Last Change:</span><span> {{ post.updated|timesince }}</span></li>
					<li class="post-insight"><span class="fw700">Topic:</span><span> {{ post.topic }} </span></li>
				</ul>
				
				<div class="post-info-footer">
					
					<p class="d-flex flex-wrap justify-content-between">
							
						<small>
							<span class="" style="margin-right: 3px;">
								<i class="fas fa-comments"></i>
							</span>
							<a href="{{ post.get_absolute_url|disqusCountComments:'#disqus_thread' }}"></a>
						</small>
						<small class=""><i>Created in {{ post.timestamp }}</i></small>
					</p>
				</div>
			</div>
		</div>
		{% endfor %}
	
    <nav aria-label="..." class="d-flex justify-content-around">

        <ul class="pagination">
        
            {% if page_obj.has_previous %}
            
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">prev</a>
                </li>       
            {% else %}
                <li class="page-item disabled" tabindex="-1">
                    <span class="page-link">prev</span>
                </li>
            {% endif %}  
        
            {% for page in paginator.page_range %}
                
                {% if page_obj.number == page %}
                    <li class="page-item active">
                        <a class="page-link">{{ page }}<span class="sr-only">(current)</span></a>
                    </li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                {% endif %}
            
            {% endfor %}
        
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">next</span>
                </li>
            {% endif %}
        
        </ul>
    </nav>
{% endif %}
</div>
{% endblock %}

{% block addpostbutton %}
    {% if user.is_authenticated %}
    <div type="button" class="addpostbutton" data-toggle="modal" data-target="#addNewPost">&plus;</div>
    {% include 'blog/snippet/create_post_modal.html' %}
    {% endif %}
{% endblock %}

{% block javascript_code %}
{% if user.is_authenticated %}
<script rel="javascript">        
    // prevent Bootstrap from hijacking TinyMCE modal focus
    $(document).on('focusin', function(e) {
        if ($(e.target).closest(".mce-window").length) {
            e.stopImmediatePropagation();
        }
    });
    $('textarea[name="content"]').prop('required', false);
    $('input[name="title"]').prop('required', false);
</script>
{% endif %}
{% endblock javascript_code %}