{% extends 'blog/base.html' %}
{% load staticfiles %}
{% load cache %}

{% block title %}{{ object.title }}{% endblock title %}

{% block meta_tag %}
<meta name="title" content="{{ object.title }} | Prounexperient">
<meta name="description" content="{{ object.subtitle }}">
{% endblock meta_tag %}

{% block og_meta_tag %}
<meta property="og:title" content="{{ object.title }}">
<meta property="og:url" content="https://prounexperient.herokuapp.com{{ object.get_absolute_url }}">
<meta property="description" content="{{ object.subtitle }}">
<meta property="og:type" content="article">
<meta property="og:article" content="{{ object.content }}">
<meta property="article:tag" content="{{ object.topic }}">
<meta property="og:article:author" content="{{ object.publisher.get_full_name }}">
<meta property="article:published_time" content="{{ object.timestamp.day }}, {{ object.timestamp.month }}, {{ object.timestamp.year }}. {{ object.timestamp.hour }}:{{ object.timestamp.minute }}">
{% endblock og_meta_tag %}


{% block content %}
<div class="col-md-9 my-3">
    {# cache 14000 object #}

        <div style="width:100%;height:150px;">
            
            {% if object.thumbnail %}
                <img class="hoverImg" src="{{ object.thumbnail.url }}" alt="Page Banner" style="width:100%;height:150px;object-fit:cover;opacity:1;filter:alpha(opacity=50); /* For IE8 and earlier */" />
            {% else %}
                <img class="hoverImg" src="{% static 'img/blog/pthumbnail/default.png' %}" alt="Page Banner" style="width:100%;height:150px;object-fit:cover;opacity:1;filter:alpha(opacity=50); /* For IE8 and earlier */" />
            {% endif %}

        </div>


        <div class="post-content d-flex flex-column align-items-center">
            <h2 class="text-muted align-center">{{ object.title }}</h2>
            <h5 class="text-muted align-center">{{ object.subtitle }}</h5>
            <hr class="mt-0 mb-1">
            <p class="my-3">
                <i class="fas fa-calendar-alt"></i>
                <small class="timestamp">                
                    posted at day {{ object.timestamp.day }}, {{ object.timestamp.month }}, {{ object.timestamp.year }}
                </small>
                <span style="padding-left:3px;"><i class="fas fa-clock"></i></span>
                <small class="timestamp">                
                    {{ object.timestamp.hour }}:{{ object.timestamp.minute }} by {{ user.first_name }}
                </small>
            </p>
            <hr class="mt-0 mb-1">
            <div class="post-body">
                {{ object.content | safe }}
            </div>    
        </div>
    
    {# endcache #}

    <div class="disqus-section">
        <div id="disqus_thread"></div>
        <script>
    
            /**
            *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = 'https://prounexperient.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>

</div>

<aside class="col-md-3 float-right">
    <div class="p-3 my-3 bg-light widget d-flex flex-column align-items-center">
        <img src="{% static 'img/profile.jpg' %}" class="d-block rounded-circle" alt="Content Creator">
        <h5 class="text-muted mt-3 mb-2">{{ user.get_full_name }}</h5>
        <p class="text-center my-1"><small>Rod is a fullstack developer and creator of PROUNEXPERIENT. He also creates content for this blog, loves music, art and cience.</small></p>
        
        <h5 class="text-muted mt-3 mb-2">More About On</h5>
        <ol class="list-unstyled d-flex mt-1">
            <li><a href="https://www.facebook.com/rodrigo.rodrigues.796569" target="_blank" class="mr-3"><span style="font-size:25px;"><i class="fab fa-facebook"></i></span></a></li>
            <li><a href="https://twitter.com/Prounexperient" target="_blank" class="mx-3"><span style="font-size:25px;"><i class="fab fa-twitter"></i></span></a></li>
            <li><a href="https://www.linkedin.com/in/rod-rodrigues-15021b5a/" target="_blank" class="mx-3"><span style="font-size:25px;"><i class="fab fa-linkedin"></i></span></a></li>
            <li><a href="https://github.com/Prounexperient" target="_blank" class="mx-3"><span style="font-size:25px;"><i class="fab fa-github"></i></span></a></li>
            <li><a href="https://stackoverflow.com/users/2953385/r-r-c" target="_blank" class="ml-3"><span style="font-size:25px;"><i class="fab fa-stack-overflow"></i></span></a></li>
        </ol>
    </div>
</aside>
{% endblock %}

{% block addpostbutton %}
    {% if user.is_authenticated %}
        <div  type="button" class="addpostbutton" data-toggle="modal" data-target="#addNewPost">
            <span class="glyphicon glyphicon-edit"></span>
        </div>
        {% include 'blog/snippet/update_post_modal.html' %}
    {% endif %}
{% endblock %}

{% block javascript_source %}{% endblock %}

{% block javascript_code %}
{% if user.is_authenticade %}
<script rel="javascript">        
    // prevent Bootstrap from hijacking TinyMCE modal focus    
    $(document).on('focusin', function(e) {
        if ($(e.target).closest(".mce-window").length) {
            e.stopImmediatePropagation();
        }
    });
</script>
{% endif %}
{% endblock javascript_code %}
