<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Prounexperient | Under Development</title>
    <link rel="icon" href="{% static 'img/favicon.png' %}" />
    <link rel="stylesheet" href="{% static 'css/under_construction.css' %}" />
  </head>
  <body>
    <div class="up">
      <div class="layer">
        <div class="content">
          <p><span>PROUNEXPERIENT</span> home page is under development.</p>
          <p>While we work on it, would you like to visit our <a href="/blog/">blog</a>?</p>
        </div>
      </div>
    </div>
    <div class="down">
        <form id="contact-form" method="post">
            <div class="form-row"><p>contact</p></div>
            {% csrf_token %}
            {% for f in form %}
            <div class="form-row">
                {{ f }}
            </div>
            {% endfor %}
            
            <div class="form-row">
                <button type="submit" id="send-contact">Send</button>
            </div>
        </form>
    </div>
  </body>
</html>